dacite==1.8.1
requests==2.28.1
sqlalchemy==1.4.45
clickhouse-connect==0.7.1
mysql-connector-python==8.3.0
pymongo==4.6.2
teradata==15.10.0.21
teradatasql==17.20.0.0
teradatasqlalchemy==17.0.0.3
tqdm==4.64.1
feast==0.39.1
pyarrow==15.0 # mlflow block this from upgrading
fsspec==2024.6.1
universal_pathlib==0.2.2
s3fs==2024.6.1
gcsfs==2024.6.1
pandas==2.2.2
pyspark==3.3.4
ortools==9.4.1874 #9.5.2237
google-api-python-client==2.115.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-storage==2.14.0
pybigquery==0.5.0
ibis-framework==9.1.0
ibis-framework[clickhouse,bigquery,duckdb,pandas,pyspark,sqlite,polars]
openpyxl==3.1.2
scikit-learn==1.0.2
imbalanced-learn==0.10.1
mlxtend==0.21.0
category_encoders==2.6.2
lightgbm==4.0.0
optbinning==0.17.3
scikit-optimize==0.9.0
optuna==3.5.0
optuna-dashboard==0.14.0
shap==0.42.1
joblib==1.1.1
uvicorn==0.22.0
fastapi==0.100.1
bokeh==2.4.3
toml==0.10.2
mlflow==2.14.3
